* {
    font-family: Canva Sans, sans-serif;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Canva Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
body {
    background-color: #fff;
    color: #454545;
    font-family: Canva Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: left;
}
nav.home {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.09);
}
.card-without-border {
    border-width: 0;
}
.card-rounded-max {
    border-radius: 20px !important;
}
.card-with-shadow {
    border-width: 0;
    box-shadow: 0 0 40px rgba(0,0,0,.102)  !important;;
}
.card-body {
    /* flex: 1 1 auto; */
    min-height: 1px;
    padding: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
input {
     background: transparent;
    cursor: pointer;
}
.card {

    word-wrap: break-word;
    background-clip: border-box;
    background-color: #fff;
    border: 1px solid #edeff0;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    min-width: 400px;
    position: relative;
    min-height: 300px;
    justify-content: center;
    align-items: center;
}
.btn {
    background-color: rgb(117, 0, 88);
    color: #edeff0;
    font-size: 14px;
    font-style: bold;
    border-radius: 99px;
    padding: 18px 28px;
}